/* styles/navbar.css */

/* 預設樣式 - 桌面版 */
.navbar {
  background-color: #333;
  padding: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.links {
  display: flex;
  gap: 16px;
}

.links a,
.links button {
  color: white;
  text-decoration: none;
}

/* 手機版樣式 */
@media (max-width: 600px) {
  .navbar {
    
    padding: 12px;
  }

  .nav {
    /* flex-direction: column;
    align-items: flex-start; */
    display: flex;
    padding-right: 14px;
  }

  .brand {
    width: 100%;
    text-align: left;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap; /* 讓按鈕和連結在小屏幕上換行 */
  }

  .links a,
  .links button {
    font-size: 10px; /* 調整字體大小以適應手機屏幕 */
  }

  .greeting {
    text-align: right; /* 確保在手機版上 "歡迎, liam" 在右側 */
  }
}
